@import '../../styles/index.scss';

.root {
  @include typo-heading-3($green-medium-color);
  border-bottom: solid 1px #cccccc;
  padding: 10px 15px;
  margin-bottom: 16px;

  width: 100%;

  @media (min-width: $screen-xl-min) {
    width: 73%;
  }
}
