@import '../../styles/index.scss';

.root {
  @include typo-heading-3($black-low-color);
  border-bottom: solid 1px #cccccc;
  padding-top: 10px;
  margin-bottom: 16px;

  .tab {
    margin-bottom: unset;
    overflow: hidden;
  }

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2.5px 15px;
    transition: 0.3s;
    border-bottom: 5px solid $white-high-color;
  }

  .tab button:hover {
    background-color: $background-black-low-color;
  }

  .tab button.active {
    font-weight: bold;
    color: $green-medium-color;
    border-color: $green-medium-color;
  }
}
