@import './index.scss';

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: 1rem;
}

.btn-circle {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  max-width: 100%;
  color: #555;
  border: 1px solid #555;
  background: #fff;
  border-radius: 20px;
  padding: 3px 10px;
  transition: 0.2s;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  user-select: none;
}

.btn-circle:hover {
  background-color: $green-medium-color;
  border-color: 1px solid $green-medium-color;
  color: $white-high-color;
}

.container {
  overflow: visible;
  margin: auto;
  max-width: 1140px;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  @media (min-width: $screen-md-min) {
    width: 750px;
  }

  @media (min-width: $screen-lg-min) {
    width: 970px;
  }

  @media (min-width: $screen-xl-min) {
    width: 1170px;
  }
}
